<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

<!--    <uses-permission android:name="android.permission.INTERNET"/>-->

<!--    <application android:name=".AliasApp">-->
<!--&lt;!&ndash;        <activity&ndash;&gt;-->
<!--&lt;!&ndash;            android:name=".ModuleActivity"&ndash;&gt;-->
<!--&lt;!&ndash;            android:exported="false">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <intent-filter>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                <action android:name="android.intent.action.MAIN" />&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                <category android:name="android.intent.category.LAUNCHER" />&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            </intent-filter>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        </activity>&ndash;&gt;-->
<!--    </application>-->

</manifest>